"*":
  "activate-power-mode":
    particles:
      size: {}
      spawnCount: {}
      totalCount: {}
    screenShake: {}
  "atom-perforce": {}
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: true
  "autocomplete-python":
    addBracketAfterFunction: true
    useSnippets: "required"
  core:
    disabledPackages: [
      "atom-perforce"
      "language-javascript"
    ]
    ignoredNames: [
      "*.pyc"
    ]
    themes: [
      "atom-dark-ui"
    ]
  editor:
    fontSize: 14
    invisibles:
      eol: " "
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "5a0697ca-8d90-5da2-ae8e-eec6ed19f86e"
  "file-types":
    "^wscript$": "source.python"
    h: "source.cpp"
    waf_files: "source.json"
  jekyll:
    postsType: ".md"
  linter:
    underlineIssues: false
    statusBar: "Show all errors"
  "linter-eslint": {}
  "linter-pylint": {}
  metrics:
    userId: "21e56c7aa661a97b2dc96bf09353178e8167aaf3"
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
  "release-notes":
    viewedVersion: "0.95.0"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
