packages: [
  "activate-power-mode"
  "atom-monokai"
  "atom-perforce"
  "autocomplete-python"
  "autocomplete-xml"
  "file-icons"
  "file-types"
  "highlight-selected"
  "jekyll"
  "jekyll-snippets"
  "language-gitignore"
  "language-lua"
  "language-qml"
  "linter"
  "linter-eslint"
  "linter-pylint"
  "minimap"
  "minimap-bookmarks"
  "minimap-cursorline"
  "minimap-find-and-replace"
  "minimap-highlight-selected"
  "minimap-linter"
  "package-sync"
  "Sublime-Style-Column-Selection"
  "tabs-to-spaces"
  "todo-show"
]
